.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-link.active {
  color: white;
  font-weight: bold;
  background-color: pink;
  border-radius: 8px;
}
.nav-link {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
}

.nav-link.active {
  color: white;
  font-weight: bold;
  background-color: pink;
  border-radius: 8px;
}
