ul>li>a{
  text-decoration: none;
  list-style: none;

  
}
ul>li{
  list-style: none;
}
.navbar{
  display: flex;
  width: 100%;
  width: 500px;

}
ul>li>a{
  display: flex;
  width: 400px;
  list-style: none;
  font-size: 30px;
}
.mon{
  display: flex;
  justify-content: space-between;
}
ul{
  display:  flex;
  justify-content: space-around;
}
.navbar-brand{
  text-decoration: none;
  color: red;
  font-size: 50px;
}
.render>label{
   font-size: 150px;
   color: brown;
}
.descript{
  font-size: 30px;
}